.center_content {
	display: flex;
	justify-content: center;
}

.center_card {
	display: flex;
	padding: 40px 0 0 0;
	font-family: "黑体";
}

.center_card .ccard_left {
	flex: 1;
	padding: 0 60px 0 0;
}

.ccard_left .ccard_left_txt {
	width: 340px;
	padding: 20px;
	margin-top: -2px;
	background-color: #fff;
	color: #6d8d3e;
}

.ccard_left_txt .txt_title {
	font-size: 30px;
	padding: 0 0 10px 0;
}

.ccard_left_txt .txt_content {
	line-height: 28px;
	padding: 0 0 55px;
}

.center_card .ccard_right {
	flex: 1;
	padding: 0 0 0 60px;
}

.ccard_right .ccard_right_txt {
	width: 340px;
	margin: -2px 0 0 0;
	padding: 20px;
	background-color: #fff;
	color: #6d8d3e;
}

.ccard_right_txt .txt_title {
	font-size: 30px;
	padding: 0 0 10px 0;
}

.ccard_right_txt .txt_content {
	line-height: 28px;
}

.content_ffooter {
	width: 880px;
	display: block;
	justify-content: center;
	margin: 0 auto;
}

.content_ffooter .ff_content {
	display: flex;
	margin: 30px 0 0 0;
	background-color: #fff;
	padding: 40px 0 40px 90px;
}

.ff_content .ff_left {
	font-size: 32px;
	font-family: "Bernard MT Condensed";
	color: #587d23;
}

.content_ffooter .ff_right {
	display: flex;
	padding: 0 0 0 98px;
	margin-top: -5px;
}
.content_ffooter .ff_right .ff_right_left{
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1px 36px;
	background-color: #50682A;
}
.ff_right_left span{
	color: #fff;
	font-weight: bolder;
	line-height: 12px;
}
.content_ffooter .ff_right .ff_right_right{
	padding: 11px 110px;
	background-color: #d2e6b5;
	font-family: "Bernard MT Condensed";
	font-size: 16px;
	color: #fff;
	
}
