body{
	margin: 0 auto;
	width: 1260px;
}
.navi{
	display: flex;
	background-color:#50682a ;
}
.navi_left{
	flex: 2;
}
.navi_left .logo{
	padding: 10px;
}
.navi_list{
	flex: 4;
	padding: 30px 0 0 0;
}
.navi_list a{
	text-decoration: none;
	color: #fff;
	padding: 10px;
}
.navi_list a:hover{
	color: aquamarine;
}
.navi_right{
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 9px;
}
.navi_right .navi_right_top{
	font-size: 9px;
	color: #fff;
	padding: 8px 0 0 0;
}
.navi_right .navi_right_top a{
	text-decoration: none;
	font-size: 9px;
	color: #fff;
	padding: 0 5px 0 0;
}
.navi_right_bottom{
	padding: 10px 0 0 1px;
}
.navi_right_bottom input{
	width: 125px;
	border-radius: 30px;
	background-color: #50682a;
	border: 1px solid #fff;
	color: #fff;
}
.content_top{
	background:url(../img/top.jpg) no-repeat;
	background-size: 100%;
	height: 425px;
}
.content_center{
	background: url(../img/center.jpg) no-repeat;
	background-size: 100%;
	height: 1168px;
	margin-top: -3px;
}
.center_top{
	display: flex;
	justify-content: center;
	padding: 70px 0 0 0;
}
.center_top .top_center{
	font-size: 42px;
	font-family: "Bernard MT Condensed";
	color: #7f9364;
	padding: 0 25px;
}
.center_title{
	font-size: 30px;
	text-align: center;
	margin-top: -10px;
}
.center_txt{
	display: flex;
	padding: 30px 160px;
}

.center_txt .center_txt_boder{
	width: 430px;
	height: 260px;
	border: 5px solid #50682A;
	margin: 20px 0 0 -380px;
}
.center_txt .center_txt_right{
	color: #fff;
	font-size: 20px;
	padding: 0px 80px 0 0;
	height: 240px;
	margin: 34px 0px 0 -215px;
	background: #50682abf;
}
.center_txt .center_txt_right ul{
	list-style:none ;
	margin: 0;
}
.center_txt .center_txt_right ul li{
	padding: 10px;
}
.content_notice{
	padding: 50px 0 0 0;
}
.content_notice .notice_top{
	display: flex;
	justify-content: center;
}
.content_notice .notice_top span{
	color: #7f9364;
}
.content_notice .notice_top .nottop_center{
	font-size: 42px;
	font-family: "Bernard MT Condensed";
	color: #7f9364;
	padding: 0 25px;
}
.content_notice .notice_title{
	text-align: center;
	font-size: 30px;
	padding: 10px 0 0 0;
}
.content_notice .notice_content{
	display: flex;
	padding: 30px 0 0 0;
}
/* 左白框 */
.content_notice .notice_content .notice_cleft{
	display: flex;
	flex: 1;
	font-family: "黑体";
	font-size: 16px;
	color: #50682A;
	width: 480px;
	background: #fff;
	padding: 30px 20px;
	margin: 0 15px 0 50px;
}
.notice_cleft .cleft_left{
	flex: 1;
	padding: 0 15px 0 0;
}
.cleft_left .cleft_title{
	font-size: 48px;
}
.cleft_left .cleft_foot{
	font-weight: bold;
}
.cleft_right .rright_title{
	font-size: 28px;
	padding: 0 0 20px 0;
}
.cleft_right .rright_txt{
	font-weight: lighter;
	line-height: 32px;
}
/* 右白框 */
.content_notice .notice_content .notice_cright{
	display: flex;
	flex: 1;
	font-family: "黑体";
	font-size: 16px;
	color: #50682A;
	width: 480px;
	background: #fff;
	padding: 30px 20px;
	margin: 0 50px 0 15px;
}
.notice_cright .cright_left{
	padding: 0 15px 0 0;
}
.cright_left .cright_title{
	font-size: 48px;
}
.cright_left .cright_foot{
	font-weight: bold;
}
.cright_right .crr_title{
	font-size: 28px;
	padding: 0 0 20px 0;
}
.cright_right .crr_txt{
	font-weight: lighter;
	line-height: 32px;
}
.content_footer{
	display: flex;
	background: url(../img/foot.jpg) no-repeat;
	background-size: 100%;
	height: 191px;
	padding: 30px 0 0 0;
}
.content_footer .foot_left{
	flex: 4;
	padding: 0 0 0 220px;
}
.foot_left img{
	padding: 0 0 20px 0;
}
.foot_left p{
	font-size: 20px;
}
.content_footer .foot_center{
	flex: 2;
	color: #fff;
	margin: 140px 0 0 0;
}
.content_footer .foot_right{
	flex: 1;
	margin: 50px 0 0 0;
}
